@{
    ViewData["Title"] = "Aboutme";
}
<h1>@ViewData["Title"]</h1>

<p>Ensimmäinen harjoitus sivunlisäys ASP.net ohjelmalla.</p>
<p>Learn about <a href="https://www.google.com">building Web apps with ASP.NET Core</a>.</p>

<h1> Second page</h1>

<img src="~/images/juna.png" alt="My image"/>

