@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Terve taas nördeporukka</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (AspNetMvcDemo1.Models.customer customer in ViewBag.Allcustomers)
 {
 <p>@customer.CompanyName</p>
 


            }